* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/*body general*/
body {
    background: rgb(34, 108, 91);
    background: radial-gradient(circle, rgba(34, 108, 91, 1) 0%, rgba(101, 9, 121, 1) 35%, rgba(147, 88, 56, 1) 59%, rgba(50, 210, 244, 1) 100%);
    animation: gradient 25s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 15fr 1fr;
    grid-template-areas: "encabezado encabezado"
        "main aside"
        "pie_de_pagina pie_de_pagina";
}



/*Header mobile*/

header {
    grid-area: encabezado;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}


.logoBoxTM {

    display: flex;
    text-decoration: none;
    color: black;
    letter-spacing: 2.5px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.logoBoxTM img{
    width: 30%;
}
.logoBoxTM h2{
    width: 50%;

    font-size: 500%;
}


.navegacion1 {
    width: 100%;
}

.navegacion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    text-align: center;
    list-style-type: none;
    width: 96%;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: solid 2px;
    padding: 4px;
    border-radius: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.nav-hover {
    display: flex;
    opacity: 0.6;
    transition: all 0.6s ease 0s;
}

.nav-hover:hover {
    transform: scale(1.1);
    transition: all 0.6s ease 0s;
    opacity: 2;
}


/*Main mobile*/

main {
    grid-area: main;
}

/*inicio*/
.presentacion {
    display: flex;
    justify-content: center;
    width: 100%;
}



.contenido-presentacion {
    display: flex;
    flex-direction: column;
    width: 90%;
}


.texto-grande {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    width: 100%;
    text-align: left;
}

.texto-de-presentacion {
    width: 100%;
    display: flex;
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    font-weight: 700;
    opacity: 1;
    margin-top: 20px;
    justify-content: center;
    background-color: rgba(231, 222, 222, 0.041);
    border-radius: 30px;
    padding: 20px;
}
/*texto novedades*/
.novedades {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    margin-left: 5%;
}

.novedades-texto {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1rem;
    font-family: 'Playfair Display', serif;
}

/*contenedor de cards*/
.imagenes-gridd {
    background-color: rgba(231, 222, 222, 0.041);
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}


.card{
    background: rgba(212, 204, 204, 0.135);
    border-radius: 30px;
    padding: 20px;
    margin: 15px 0 15px 0;
}

#guitarra{
    width: 77%;
}

.card-body{
    color: #fff;
}

.card-body .btn{
    background-color: #fff;
    color: black;
}


/*aside*/

aside{
    grid-area: aside;
}
/*footer*/
footer {
    grid-area: pie_de_pagina;
}

footer {
    background-color: rgba(17, 17, 17, 0.028);
    height: auto;
    width: 100vw;
    font-family: 'Playfair Display', serif;
    padding-top: 40px;
    color: #fff;
    margin-top: 5rem;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}


.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
}

.socials a i {
    font-size: 4.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #7f4078;
}

.footer-bottom {
    background: rgba(0, 0, 0, 0.344);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 12px;
    word-spacing: 2px;
    text-transform: capitalize;
}


/* boton de subir arriba*/

.subir-arriba {       
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.subir-arriba a {
    position: sticky;
    top: 90vh;
    cursor: pointer;
    font-size: 40px;
    margin: 10px;
}






















/*fondo de pantalla en movimeinto*/
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}