$color_1: black;
$color_2: rgb(0, 0, 0);
$color_3: #fff;
$color_4: #7f4078;
$color_5: white;
$color_6: rgb(255, 255, 255);

$background-color_1: rgba(231, 222, 222, 0.041);
$background-color_2: #fff;
$background-color_3: rgba(17, 17, 17, 0.028);
$background-color_4: #ffffff13;
$background-color_5: #7f4078;
$background-color_6: rgba(255, 255, 255, 0.06);
$background-color_7: black;
$background-color_8: rgb(255, 255, 255);
$background-color_9: #000000;

