/*Presentacion*/
.presentacion {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0;
}

.contenido-presentacion {
	display: flex;
	flex-direction: column;
	width: 90%;
}

/*Novedades*/
.novedades {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 20px;
}
/*Contenedor de los cards*/
.imagenes-gridd {
	background-color: $background-color_1;
	border-radius: 30px;
	display: flex;
	justify-content: space-evenly;
	padding: 1rem;
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
}
/*comentarios*/
.comentarios {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 10% 0 0 25%;
	width: 50%;
	p {
		font-family: map-get($fuentes , secundario);
		font-style: italic;
		font-size: 18px;
	}
	cite {
		font-style: normal;
		font-size: 20px;
	}
}