
/*FORMULARIOS*/
.formulario-inicio {
	background-color: $background-color_6;
	border-radius: 25px;
	margin: 5%;
	padding: 5%;
}

.formulario-contactanos {
	background-color: $background-color_6;
	border-radius: 25px;
	width: 90%;
	margin-left: 5%;
	padding: 5%;
}