
/*TODOS LOS ID DEL PROYECTO*/

/*id de NOSOTROS*/
#preguntas-frecuentes {
	margin: 0 0 10% 25%;
}
/*id de las imagenes*/
#guitarra {
	width: 60%;
	margin-left: 20%;
}

#iphone14{
margin-left: 15%;
}

#imagenmobile{
	width: 60%;
	margin-left: 20%;
}

#mesa{
	width: 80%;
	margin-left: 12%;
}
