.logoBoxTM {
    display: flex;
	text-decoration: none;
	color: $color_1;
	letter-spacing: 2.5px;
	width: 100%;
	justify-content: center;
	align-items: center;
	img {
        width: 120px;
		height: 120px;
	}
	h2 {
        width: 50%;
		font-size: 500%;
	}
}